<div class="users-container">
  <div class="users-header">
    <div>
      <h1>Users Management</h1>
      <p class="subtitle">Manage all users in the system</p>
    </div>
    <button nz-button nzType="primary" (click)="showModal()">
      <span nz-icon nzType="plus"></span>
      Add New User
    </button>
  </div>

  <!-- Loading State -->
  <div *ngIf="loading()" class="loading-state">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>

  <!-- Error State -->
  <div *ngIf="error()" class="error-state">
    <nz-alert nzType="error" [nzMessage]="error()" nzShowIcon></nz-alert>
    <button nz-button nzType="primary" (click)="loadUsers()" style="margin-top: 16px;">Retry</button>
  </div>

  <!-- Users List -->
  <div *ngIf="!loading() && !error()">
    <nz-table #basicTable [nzData]="users()" [nzPageSize]="10">
      <thead>
        <tr>
          <th>Username</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="viewUser(data.id)" style="cursor: pointer;">
          <td>{{ data.username }}</td>
          <td>
            <nz-tag [nzColor]="'blue'">{{ data.roles }}</nz-tag>
          </td>
          <td>
            <button nz-button nzType="text" (click)="$event.stopPropagation(); editUser(data)">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button nz-button nzType="text" nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure delete this user?"
              (nzOnConfirm)="deleteUser(data.id)" (click)="$event.stopPropagation()">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Add/Edit Modal -->
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isEditMode ? 'Edit User' : 'Add New User'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isConfirmLoading">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="userForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">Username</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username!">
            <input nz-input formControlName="username" id="username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="!isEditMode" nzFor="password">Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input password!">
            <input nz-input type="password" formControlName="password" id="password"
              placeholder="Leave blank to keep current" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roles">Roles</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select roles!">
            <nz-select formControlName="roles" id="roles">
              <nz-option nzValue="USER" nzLabel="User"></nz-option>
              <nz-option nzValue="ADMIN" nzLabel="Admin"></nz-option>
              <nz-option nzValue="MANAGER" nzLabel="Manager"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
</div>